body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ff6666;
    padding: 20px;
}

h1 {
    color: white;
    margin: 0;
}

main {
    padding: 20px;
}

#class-details {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

#bottom-image {
    margin-top: 20px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}